<div class="input-group">
  <span class="input-group-addon">Event Title</span>
  <input type="text" class="form-control" ng-model="newEvent.subject">
</div>
<div class="input-group">
  <span class="input-group-addon">Location <i class="fa fa-asterisk"></i></span>
  <select class="form-control" ng-model="newEvent.location_id" ng-change="setLocation(newEvent)">
    <option ng-selected="true" ng-disabled="true">Please Select a Location</option>
    <optgroup ng-repeat="l in locations" label="{{l.building.name}}">
      <option ng-repeat="bl in l.building.locations" value="{{bl.id}}">{{bl.name}}</option>
    </optgroup>
  </select>
</div>
<div class="input-group">
  <span class="input-group-addon">Description</span>
  <textarea type="text" class="form-control" ng-model="newEvent.description"></textarea>
</div>