<script type="text/ng-template" id="guestResults.html">
  <a>
    <b>{{match.model.first_name}} {{match.model.last_name}}</b><br>
    <b>{{match.model.company}}</b><br>
    <small>{{match.model.email}}</small>
  </a>
</script>

<div class="repeat-options">
  <div class="input-group">
    <span class="input-group-addon" ng-if="!loadingGuests">Name</span>
    <span class="input-group-addon" ng-if="loadingGuests"><img src="../images/loading.gif" alt="Searching" class="loading-gif"></span>

    <!-- typeahead -->
    <input type="text" ng-model="contact.first_name" typeahead="guest as guest.first_name for guest in guestSearchResults | filter:{first_name: $viewValue} | limitTo:5" class="form-control" typeahead-template-url="guestResults.html" typeahead-on-select="addGuest($item, $model, $label)">
    <!-- /typeahead -->
  </div>
  <div class="input-group">
    <span class="input-group-addon">Company</span>
    <input type="text" class="form-control" ng-model="contact.company">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Email</span>
    <input type="email" class="form-control" ng-model="contact.email">
  </div>
  <div class="input-group">
    <small ng-if="noGuests"><b>NOTE</b>: if you cannot find the guest, please create one by filling out the above fields</em></small>
  </div>
  <button class="btn guest-btn btn-default" ng-click="addGuest(contact)"><i class="fa fa-user-plus"></i> Create Visitor</button>
  <button class="btn guest-btn btn-default pull-right" ng-click="uploadGuestList()"><i class="fa fa-cloud-upload"></i> Upload Visitor List</button>

  <!-- csv upload -->
  <div class="form-group" ng-if="showUploadOptions" style="margin-top:25px">
    <input type="file" class="form-control" fileread="newEvent.guestList" accept=".csv, .xls, .ods, .xlsx">
    <br>
    <a href="{{guestListTemplateUrl}}"><i class="fa fa-cloud-download"></i> Download Template Here</a>
    <br>
    <small>Supported formats: CSV, XLS, ODS, XLSX. Guest list will be uploaded when event is added</small>
  </div>
  <!-- /csv upload -->
</div>
<div class="people-box" ng-repeat="g in newEvent.guests track by $index" ng-if="showGuests">
  <i class="fa fa-minus-square pull-right" ng-click="removeGuest($index, g)"></i>
  <b>{{g.first_name}} {{g.last_name}}</b><br>
  {{g.company}}<br>
  {{g.email}}
</div>
