<!-- NOT IN USE AT THE MOMENT -->

<nav class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a ng-if="groups.length > 0" href="{{router.home}}" class="navbar-brand"><i class="fa fa-home"></i> Home</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
        <ul class="nav navbar-nav" ng-if="user">
          <!-- code here for SECURITY role and current_user.is_building_guard_for_what.each do -->
          <!-- code here about VMS being full and VMS logbook -->
          <li ng-if="user.is_superuser || user.is_engineer">
            <a href="{{router.maintenance}}"><i class="fa fa-wrench"></i> Maintenance</a>
          </li>
          <li ng-if="user.is_schedule_visitors|| user.is_member || user.is_building_admin || user.is_superuser">
            <a href="{{router.deliveries}}"><i class="fa fa-truck"></i> Deliveries</a>
          </li>

          <!-- VENDORS -->
          <li ng-if="vendors.length == 1"><a href="{{router.service_overview}}"><i class="fa fa-file-text-o"></i> Service Overview</a></li>
          <li ng-if="vendors.length > 1" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-file-text-o"></i>
              Service Overview
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="v in vendors">
                <a href="{{router.service_overviews}}{{v.id}}/overview">{{v.name}}</a>
              </li>
            </ul>
          </li>

          <!-- GROUPS -->
          <li ng-if="groups.length == 1"><a href="{{router.group}}"><i class="fa fa-users"></i> Group</a></li>
          <li ng-if="groups.length > 1" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-users"></i>
              Groups
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="g in groups">
                <a href="{{router.groups}}{{g.id}}">{{g.name}}</a>
              </li>
            </ul>
          </li>

          <!-- BUILDINGS -->
          <li ng-if="buildings.length == 1"><a href="{{router.building}}"><i class="fa fa-building-o"></i> Building</a></li>
          <li ng-if="buildings.length > 1" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-building-o"></i>
              Buildings
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="b in buildings">
                <a href="{{router.buildings}}{{b.id}}">{{b.name}}</a>
              </li>
            </ul>
          </li>
        </ul>

        <!-- MGMT OPTIONS -->
        <ul class="nav navbar-nav navbar-right" ng-if="user">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-users"></i>
              Manage
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" ng-if="user.is_superuser || currentGroup">
              <li><a href="{{router.calendar}}"> <i class="fa fa-calendar"></i> Calendar</a></li>
              <!-- should check if role can view all visitors -->
              <li><a href="{{router.visitors}}"> <i class="fa fa-male"></i> Visitors</a></li>
              <li><a href="{{router.contacts}}"> <i class="fa fa-phone-square"></i> Contacts</a></li>
              <!-- should check if role can view all work orders -->
              <li ng-if="groupOrderCount > 0"><a href="{{router.orders}}"> <i class="fa fa-list"></i> Placed Orders</a></li>
              <li ng-if="user.is_superuser || user.is_admin"><a href="{{router.vendors}}"> <i class="fa fa-truck"></i> Vendors</a></li>
              <li ng-if="user.is_superuser || user.is_admin"><a href="{{router.settings}}"> <i class="fa fa-gears"></i> Admin</a></li>
            </ul>
          </li>
        </ul>

        <!-- ADMIN OPTIONS -->
        <ul class="nav navbar-nav navbar-right" ng-if="user.is_superuser">
          <li class="dropdown">
            <a class="dropdown-toggle super-user-link" data-toggle="dropdown">
              <i class="fa fa-cog"></i>
                Admin
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{router.admin_users}}" class="super-user-link"><i class="fa fa-user"></i> Users</a></li>
              <li><a href="{{router.admin_groups}}" class="super-user-link"><i class="fa fa-users"></i> Groups</a></li>
              <li><a href="{{router.admin_buildings}}" class="super-user-link"><i class="fa fa-building-o"></i> Buildings</a></li>
              <li><a href="{{router.admin_vendors}}" class="super-user-link"><i class="fa fa-truck"></i> Vendors</a></li>
              <li><a href="{{router.admin_orders}}" class="super-user-link"><i class="fa fa-list"></i> Orders</a></li>
              <li class="divider"></li>
              <li><a href="{{router.admin_verifications}}" class="super-user-link"><i class="fa fa-check-square"></i> Verifications</a></li>
              <li><a href="{{router.admin_subscriptions}}" class="super-user-link"><i class="fa fa-newspaper-o"></i> Subscriptions</a></li>
              <li><a href="{{router.admin_subdomains}}" class="super-user-link"><i class="fa fa-globe"></i> Subdomains</a></li>
              <li><a href="{{router.admin_audit}}" class="super-user-link"><i class="fa fa-line-chart"></i> Audit</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>