<nav class="navbar-static-top navbar-inverse navbar" style="margin-bottom:0;">
  <div class="navbar-inner">
    <div class="container">
      <a href="{{router.root}}" class="navbar-brand">
        <img ng-src="{{subDomain.logo_file_name}}" id="header-logo-image"/>
      </a>
      <ul class="nav navbar-nav navbar-right" ng-if="user">
        <!-- <li ng-if="user.is_superuser" class="release-version-info pull-right">
          <p>
            [{{appInfo.host_name | uppercase}}]
            [{{appInfo.subdomain | uppercase}}]
            [{{appInfo.app_env | uppercase}}]
            [{{appInfo.release_version | uppercase}}]
            [{{nowTime | date:'h:mm:ss a MM.dd.yyyy'}}]
          </p>
        </li> -->
        <br>
        <li class="dropdown pull-right" ng-if="user" style="color:#fff;">
          <a data-toggle="dropdown" class="dropdown-toggle" role="button" aria-expanded="false" style="color:#fff">
            <i class="fa fa-user"></i> {{user.name}}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <!-- <li><a href="{{router.profile}}"><i class="fa fa-user"></i> View Profile</a></li>
            <li><a href="{{router.profile_edit}}"><i class="fa fa-edit"></i> Edit Profile</a></li> -->
            <li><a ng-click="signOut()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
          </ul>
        </li>
        <li ng-if="!user">
          Already have an account?
          <a href="{{router.sign_in}}"><b><i class="fa fa-sign-in"></i> Login</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <lower-nav></lower-nav> -->