<script type="text/ng-template" id="orgResults.html">
  <a>
    <b>{{match.model.name}}</b><br>
    <small>{{match.model.email}}</small>
    <small>{{match.model.company}}</small>
  </a>
</script>

<div class="input-group">
  <span class="input-group-addon" ng-if="!loadingOrganizers"><i class="fa fa-search"></i> <i class="fa fa-user-plus"></i></span>
  <span class="input-group-addon" ng-if="loadingOrganizers"><img src="../images/loading.gif" alt="Searching" class="loading-gif"></span>

  <input type="text" ng-model="organizer.name" typeahead="organizer as organizer.name for organizer in orgSearchResults | filter:{name: $viewValue} | limitTo:5" class="form-control" placeholder="Search and Add Organizers" typeahead-template-url="orgResults.html" typeahead-on-select="addOrganizer($item, $model, $label)">
</div>
<div class="people-box" ng-repeat="o in newEvent.organizers track by $index" ng-if="showOrganizers">
  <i class="fa fa-minus-square pull-right" ng-click="removeOrganizer($index, o)"></i>
  <b>{{o.name}}</b><br>
  <p>{{o.email}}</p><br>
  <p>{{o.company}}</p>
</div>
