<link rel="stylesheet" href="../css/libs/visitors.css">

<div class="container">
  <header class="codrops-header">
    <h1>Welcome to the Kiosk Visitor Registration<span>Please create your account by filling in the password fields</span></h1>
    <h1><span ng-class="{green: accountCreated, red: !accountCreated}">{{errorText}}</span></h1>
  </header>

  <span class="input input--kohana">
    <input class="input__field input__field--kohana" type="text" id="input-29" />
    <label class="input__label input__label--kohana" for="input-29">
      <i class="fa fa-fw fa-clock-o icon icon--kohana"></i>
      <span class="input__label-content input__label-content--kohana">Time</span>
    </label>
  </span>
  <span class="input input--kohana">
    <input class="input__field input__field--kohana" type="text" id="input-30" />
    <label class="input__label input__label--kohana" for="input-30">
      <i class="fa fa-fw fa-bus icon icon--kohana"></i>
      <span class="input__label-content input__label-content--kohana">Line</span>
    </label>
  </span>
  <span class="input input--kohana">
    <input class="input__field input__field--kohana" type="text" id="input-31" />
    <label class="input__label input__label--kohana" for="input-31">
      <i class="fa fa-fw fa-phone icon icon--kohana"></i>
      <span class="input__label-content input__label-content--kohana">Phone</span>
    </label>
  </span>

</div><!-- /container -->