<link rel="stylesheet" href="../css/libs/visitors.css">

<div class="container">
  <div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form">
      <input class="morphsearch-input" type="search" placeholder="Search Tenants" ng-focus="showOverlay()" ng-model="query"/>
      <button class="morphsearch-submit" type="submit">Search</button>
    </form>
    <div class="morphsearch-content">
      <div class="dummy-column">
        <h2>Tenants</h2>
        <em ng-if="noToday">No visits scheduled today for {{tenant.name}}.</em>
        <div class="dummy-column-content">
          <div ng-repeat="t in tenants track by $index | orderBy: 'name'">
            <a ng-click="selectTenant(t)" class="dummy-media-object">
              <img src="http://placehold.it/650x650.png&text=VISITOR" class="round">
              <h3>
                {{tv.name}} <br>
                {{tv.visit_start_time}} - {{tv.visit_end_time}}
              </h3>
            </a>
          </div>
        </div>
      </div>
      <div class="dummy-column">
        <h2>Visitors</h2>
        <em ng-if="noPast">No previous visits scheduled for {{tenant.name}}</em>
        <div class="dummy-column-content">
          <div ng-repeat="v in visitors track by $index">
            <a ng-click="selectVisitor(v)" class="dummy-media-object">
              <img src="http://placehold.it/650x650.png&text=VISITOR" class="round">
              <h3>
                {{pv.name}} <i class="fa fa-angle-double-right"></i> {{pv.tenant.name }}<br>
                {{pv.visit_date | date: 'MM/dd/yy'}}: {{pv.visit_start_time}} - {{pv.visit_end_time}}
              </h3>
            </a>
          </div>
        </div>
      </div>
    </div><!-- /morphsearch-content -->
    <span class="morphsearch-close" ng-click="closeOverlay()"></span>
  </div><!-- /morphsearch -->
  <header class="codrops-header">
    <h1>Welcome to the Kiosk Visitor Registration<span>Prior to your visit, register your information for the host you are visiting</span></h1>
  </header>
  <div class="search-overlay"></div>
</div><!-- /container -->