<main-header></main-header>

<div ng-if="showLogin" id="login-overlay">
  <div id="login-modal">
    <h4>Sign In to Shortpath</h4>
    <hr>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="userLoginInfo.username" placeholder="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" ng-model="userLoginInfo.password" placeholder="password">
    </div>
    <hr>
    <button class="btn btn-primary" ng-click="login(userLoginInfo)"><i class="fa fa-sign-in"></i> Sign In</button>
    <div ng-if="choosingGroup">
      <hr>
      <h4>Choose Group</h4>
      <div class="group-container">
        <div class="group-box" ng-repeat="g in groups | orderBy:'name'" ng-click="setGroup(g)">
          <h5>{{g.name}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2><i class="fa blue" ng-class="{'fa-calendar': !loadingLocations, 'fa-refresh': loadingLocations}"></i> New Event for {{currentGroup.name}}</h2>
  <button class="btn btn-primary" ng-click="createEvent(newEvent);" ng-disabled="saving"><i class="fa" ng-class="{'fa-plus': !saving, 'fa-save': saving}"></i> {{buttonText}}</button>
  <div class="pull-right">
    <small><em><i class="fa fa-asterisk"></i> required</em></small>
  </div>
  <hr>

  <!-- ALERTS FOR VALIDATIONS -->
  <div class="alert alert-danger" role="alert" ng-if="ajaxErrors.length > 0">
    <h4>{{ajaxErrors.length}} Errors prohibited this event from being saved</h4>
    <ul>
      <li ng-repeat="e in ajaxErrors">
        <span class="bold">{{e.type | uppercase}}</span>: {{e.description}}
      </li>
    </ul>
  </div>

  <!-- EVENT INFO -->
  <div class="row">
    <div class="col-md-6">
      <h4>Event Information</h4>
      <event-info></event-info>
      <h4>When</h4>
      <when-field></when-field>
    </div>
    <div class="col-md-6">
      <h4>
        {{newEvent.organizers.length}} Organizers
        <small><a class="pull-right"><i ng-click="openOrganizers()" class="fa" ng-class="{'fa-caret-square-o-up': !showOrganizers, 'fa-caret-square-o-down': showOrganizers}"></i></a></small>
      </h4>
      <organizers></organizers>
      <hr>
      <h4>
        {{newEvent.guests.length}} Visitors
        <small><a class="pull-right"><i ng-click="openGuests()" class="fa" ng-class="{'fa-caret-square-o-up': !showGuests, 'fa-caret-square-o-down': showGuests}"></i></a></small>
      </h4>
      <guests></guests>
    </div>
  </div>
  <hr>
</div>

